<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-start rounded-3 list-group-item-primary">
        <div class="ms-2 me-auto">
            <div class="fw-bold">{{this.title}}</div>
            <div >
                {{this.content}}
            </div>
            <div >
                Created by: {{this.user.name}}
            </div>
        </div>
        
        <span class="badge bg-primary rounded-pill">{{this.date_created}}</span>
  </li>

  <li>
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="update-post-form">
          <div class="mb-3">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="title" value="{{this.title}}">
          </div>
          <div class="mb-3">
            <label for="content" class="col-form-label">Content:</label>
            <textarea class="form-control" id="content">{{this.content}}</textarea>
          </div>
          <button type="button" id="update-post" class="btn btn-secondary">Update</button>
          <button type="submit" id="delete-post" class="btn btn-primary">Delete</button>
        </form>
      </div>
    </div>
  </li>
</ul>

<scrip src="/js/home.js"></scrip>
<script src="/js/post.js"></script>